
nav{
    background: linear-gradient(135deg, #659b01 0%,#09abbc 21%,#659b01 21%,#659b01 99%);
    height: 75px;
   
}
nav .navbar-nav li{
    font-size: 1.09rem;
    font-weight: 400;
    border:1px solid transparent!important;
    transition: all .18s ease-in-out;
    cursor: pointer;
}
nav .navbar-nav li:hover:not(:last-child){
   border:1px solid #a5a5a5!important;
   
}
.h-img{
    height: 75%;
}
.h-text{
    height: 25%;
    font-size: .85rem;
    margin-left:3.5rem;
    
}
nav .navbar-nav ul li a:hover {
    color: #fff;
    border-color: hsl(0, 0%, 65%)!important;
}
.box-phone{
    font-size: 1.08rem;
    letter-spacing: .08rem;
    font-weight: bold;
}
.border-left{
    border-left:1px solid rgba(255, 255, 255, 0.363);
}
.logo{
position: absolute;
 top: 2%;
left: 2%;
}
.bsas{
    font-size: 1rem;
    text-transform: capitalize;
}
.bandeja{
    position: sticky;
    top:30px;
}

/* Móvil medium */
@media screen and (max-width:425px) {
    
    .bg-xs{
        background-color:#909090;
    }
     .btn-hamburger{
       background-color: none!important;
       border:solid 1px rgba(255, 255, 255, 0.5)!important; 
    }
    nav .navbar-nav li:hover{
        border-left-color:transparent!important;
        border-right-color:transparent!important;
        border-top-color:transparent!important;
    }
   
}

/* Móvil xs */
@media screen and (max-width:320px) {
    .navbar-nav li:hover {
        border-color: #fff!important;
    }
    
}
/* Tablet */
@media screen and (max-width:768px) {
    nav .navbar-nav li a{
        font-size: .75rem;
    }
    nav .navbar-nav .box-phone,i{
        font-size: .8rem;
    }
   
    
   
}