<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark sticky-top py-0 px-4">

  <!-- Logo -->
  <div class="d-flex flex-column">
    <img src="./assets/img/logo_w.png" class="img-fluid mx-auto h-img" alt="">
    <h5 class="text-white h-text mb-0 ">Buenos Aires</h5>
  </div>

  <!-- Hamburger Button -->
  <button class="navbar-toggler navbar-toggler-right rounded-0 btn-hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse my-auto align-self-start mr-2 justify-content-end bg-xs m-0 " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto my-auto p-0 text-uppercase">
      <li class="nav-item d-flex bd-dark">
        <a class="nav-link text-white mx-auto align-self-center" routerLink="/home">Home</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link text-white mx-auto align-self-center" routerLink="/productos">Productos</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link text-white mx-auto align-self-center" routerLink="/uso">Usos</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link text-white mx-auto align-self-center" routerLink="/beneficios">Beneficios</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link text-white mx-auto align-self-center" style="white-space: pre" routerLink="/como-llegar">Cómo llegar</a>
      </li>

      <li class="nav-item d-flex mr-2">
        <a class="nav-link text-white mx-auto align-self-center" routerLink="/contacto">Contacto</a>
      </li>
      <li class="nav-item d-flex ">
        <span class="nav-link text-white box-phone mx-auto align-self-center">
          <i class="fa fa-phone"></i>&nbsp;011 4844-0128</span>
      </li>
    </ul>

  </div>


</nav>