<nav class="navbar navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo_w.png"/>
  </a>
  </div>
</nav>

<section class="firstSeccion">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{titleOfTheLp | lowercase | changeLine | upperFirstCaracter}}</h1>
      </div>
    </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-lg btn-warning" routerLink="/lp-contacto">¡Solicitar presupuesto!</button>
          </div>
        </div>
    <div class="row content-img">
      <div class="col-6 col-lg-3 mt-5  text-center">
        <img src="assets/img/impermeable.png"/>
      </div>
      <div class="col-6 col-lg-3 mt-5 text-center">      
          <img src="/assets/img/multifunc.png"/>
      </div>
      <div class="col-6 col-lg-3 mt-5 text-center">      
          <img src="/assets/img/yeso.png"/>
      </div>
      <div class="col-6 col-lg-3 mt-5 text-center">      
          <img src="/assets/img/premium.png"/>
      </div>
    </div>

  </div>
</section>
<section class="secondSeccion">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>¿Qué ofrecemos?</h2>
        <h3>{{titleOfTheLp | lowercase | changeLine | upperFirstCaracter}}</h3>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in viverra elit. Nullam tristique, libero a sagittis iaculis, sem ligula molestie neque, a tristique justo lorem ac massa. Nulla vitae lectus dui. Duis sed fermentum ex. In tempus volutpat tincidunt. Duis aliquet nisi felis, in elementum nisl mollis ut. Sed nulla quam, accumsan rhoncus fringilla vitae, faucibus ac enim. Nullam a ornare orci. Vivamus turpis augue, tempor id feugiat a, consectetur a metus. Phasellus sit amet tristique ipsum. Fusce orci est, sodales ut imperdiet a, luctus iaculis orci. Vivamus quis posuere erat, sed scelerisque felis. Cras posuere vel magna ut molestie. Curabitur pulvinar tortor arcu, hendrerit dictum nibh viverra eget.</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h2>¿Cómo pido mi presupuesto?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Curabitur convallis quam id libero mattis accumsan. Integer fringilla mi sit amet elit mollis, non gravida tellus blandit. Curabitur semper risus ex, vitae tincidunt orci ultricies ac. Donec pretium ex eu risus rhoncus vestibulum. Phasellus ipsum nulla, tincidunt et nisl in, gravida rhoncus sem. Sed a sapien a lacus dignissim varius eu ut dui. Etiam fermentum posuere dapibus. Suspendisse dictum sit amet dui ut lacinia. Etiam felis elit, porttitor egestas tempus id, rhoncus mollis sapien. Phasellus tortor neque, vehicula eget sagittis viverra, tempus id lectus. Aliquam sagittis molestie velit, vel semper lacus ultrices nec. Mauris dignissim fermentum tellus, a feugiat ante bibendum nec. Quisque venenatis consequat neque a efficitur. Nam et iaculis nibh.</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h2>¿Por qué elegir ABACOR antes que otras marcas?</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <p>Curabitur convallis quam id libero mattis accumsan. Integer fringilla mi sit amet elit mollis, non gravida tellus blandit. Curabitur semper risus ex, vitae tincidunt orci ultricies ac. Donec pretium ex eu risus rhoncus vestibulum. Phasellus ipsum nulla, tincidunt et nisl in, gravida rhoncus sem. Sed a sapien a lacus dignissim varius eu ut dui. Etiam fermentum posuere dapibus. Suspendisse dictum sit amet dui ut lacinia. Etiam felis elit, porttitor egestas tempus id, rhoncus mollis sapien. Phasellus tortor neque, vehicula eget sagittis viverra, tempus id lectus. Aliquam sagittis molestie velit, vel semper lacus ultrices nec. Mauris dignissim fermentum tellus, a feugiat ante bibendum nec. Quisque venenatis consequat neque a efficitur. Nam et iaculis nibh.</p>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-12">
            <h2>Otros servicios</h2>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in viverra elit. Nullam tristique, libero a sagittis iaculis, sem ligula molestie neque, a tristique justo lorem ac massa. Nulla vitae lectus dui. Duis sed fermentum ex. In tempus volutpat tincidunt. Duis aliquet nisi felis, in elementum nisl mollis ut. Sed nulla quam, accumsan rhoncus fringilla vitae, faucibus ac enim. Nullam a ornare orci. Vivamus turpis augue, tempor id feugiat a, consectetur a metus. Phasellus sit amet tristique ipsum. Fusce orci est, sodales ut imperdiet a, luctus iaculis orci. Vivamus quis posuere erat, sed scelerisque felis. Cras posuere vel magna ut molestie. Curabitur pulvinar tortor arcu, hendrerit dictum nibh viverra eget.</p>

            </div>
          </div>
  </div>
</section>
<div class="footer">
  <p class="text-footer float-right">Llamanos <span>lunes a viernes de 8 a 17hs</span> TEL (11)4844-0128</p>
</div>