<app-navbar></app-navbar>
<div class="container-fluid p-4">
  <div class="row px-3 main">
    <!-- parte izq. -->
    <div class="col-md-7 text-grey">
      <h1 class="text-center title-large">{{ListSelect.nombre}}</h1>
     
        <p class="mx-auto mt-4 mb-5 title-small text-justify">{{ListSelect.detalle}}</p>
        <h5 class="w-100 mb-3 text-center text-sm-left">Propiedades</h5>

        <!-- <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8 mx-auto mx-md-0" >
            <div class="row">
              <div class="col border  p-3 d-flex justify-content-center align-items-center rounded-0">
                <i class="fa fa-cubes fa-3x"></i>
              </div>
              <div class="col border p-3 d-flex justify-content-center align-items-center rounded-0">
                <i class="fa fa-tint fa-3x"></i>
              </div>
              <div class="col border p-3 d-flex justify-content-center align-items-center rounded-0">
                <i class="fa fa-home fa-3x"></i>
              </div>
            </div>
          </div>
        </div> -->
        <h5 class="w-100 mt-3 text-center text-sm-left">Usos del producto</h5>
        <li class="list-group-item" *ngFor="let listado of ListOfUsos">
          <a routerLink="/uso/{{listado.u_titulo}}">{{listado.u_titulo | changeLine}}</a>
        </li>
    </div>
    <!-- parte der. -->
    <div class="col-md-5 d-flex mt-4 flex-column bg-white">
      <div class="d-flex ">
        <img src=".{{ListSelect.imagen}}" class="img-fluid align-self-start mx-auto" alt="">
      </div>
      <div class=" d-flex">
        <button (click)="verFicha(ListSelect.id)"type="button" class="btn btn-block btn-lg btn-custom rounded-0 text-white mt-4">VER FICHA TÉCNICA</button>
      </div>
    </div>
 
    <div class="col-md-12  mt-4 p-0">
      <button type="button" class="btn btn-sm btn-dark back d-block mx-auto float-md-left  ">
        <a class="btn text-white " routerLink="/productos">Volver</a>
      </button>
    </div>
  </div>

</div>
<app-footer></app-footer>
