
hr{
    border: solid 15px #0aabbd;
    margin: 0!important;
}

.text-grey{
    color: #444;
}
.title-large{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
}
.title-small{
    font-size: 1.3rem;
}
.img-detalle{
    outline:#2d3345 3px solid; outline-offset: 8px;
}
.bg-cyan{
    background-color: #47c9e2;
}
.btn-custom{
    background-color: #659b01;
    transition:all .2s ease-in;
}

.icon-list ul li {
    
    background-color: transparent;
    border-color: transparent!important;
   
}
.back{
    cursor: pointer!important;
}

.cuad {
    min-width: 50px!important;
    min-height: 50px!important;
    box-sizing: content-box!important;
    border: solid 1px #c7c7c7;
}