<app-navbar></app-navbar>

<div class="container-fluid contain py-4">
  <div class="row">
    <h3 class="d-inline-block mx-auto responsive-title">Lorem impsum gerenaton</h3>
    <div class="col-sm-12 px-md-4">
      <p class="tex-center text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum risus eu vestibulum euismod. Integer in molestie
        odio. Suspendisse dignissim posuere ultrices. Suspendisse gravida pretium ex, lobortis maximus turpis vehicula vel.
        Sed vitae eros sit amet tortor ultrices dictum. Quisque id arcu a dui volutpat molestie at at purus. Curabitur finibus
        ipsum quis feugiat vulputate. Maecenas laoreet justo neque, non porttitor sapien finibus a.</p>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div *ngFor="let uso of pagedUses" class="col-md-2 px-3 bg-white mb-3 p-0 d-flex">
          <div class="mx-auto">
            <img src="{{uso.u_imagen}}" class="img-fluid d-flex mx-auto pt-2 pb-2" alt="">
            <p class="mx-auto text-center text-dark break-line-custom" routerLink="/uso/{{uso.u_titulo}}">{{uso.u_titulo | changeLine}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-4">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(1)" class="page-link">&laquo;</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previo</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">Siguiente</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
          <a (click)="setPage(pager.totalPages)" class="page-link">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <ng-template #else_other>
  <app-item-uso></app-item-uso>
</ng-template> -->

<app-footer></app-footer>