
section{
   
    font-family: 'Oxygen', sans-serif;
 }

.main{
    background: url("../../assets/img/construction_overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.filter {
    -webkit-backdrop-filter: blur(10px); /* Safari 9+ */

    background-color: rgba(255, 255, 255, 0.3);
}
.title-large{
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 700;
        
}
.title-form{
    font-size: 1rem;
    font-weight: 700;
}
.title-mini{
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: 300;
}
#logo img {
     width: 80%;
   
}

.formulario .form-title{
    color:#2d3345!important;
   }

#productos{
    background-color: #f9f9f9;

}

#productos h1,h3{
    color:#2d3345!important;
}
#productos h1{
    font-size: 3.5rem!important;
    font-weight: 700;
}
.btn-color{
    background-color: #659b01;
}

#producto img{
    cursor: pointer;
}
@media screen and (max-width:425px) {
    form h2 {
       font-size: 2rem;
    }
    .title-mini{
        font-size: 1.3rem;
        font-weight: 0;
    }
}
@media screen and (max-width:320px) {
   .title-large {
       font-size: 2rem;
    }

    
}
 /* Laptop and notebooks */
 @media screen and (width: 1024px) {
    .break-line-custom{
        white-space: nowrap;
    }
}
 @media screen and (width: 768px) {
    .break-line-custom{
        white-space: pre-wrap;
    }
    .title-large{
        font-size: 2rem;
        
    }
    .title-mini{
        font-size: 1.2rem;
        
    }
}
  
