<nav class="navbar navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo_w.png"/>
    </a>
    </div>
  </nav>

<section class="firstSeccion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <h3>LLAMANOS AHORA (11) 4844-0128</h3>
        <p class="info">Atendemos de lunes a viernes de 8 a 17 hs. y te asesoramos para que resuelvas tu problema de humedad en techos y paredes.</p>
        <div class="text-center">
          <img src="/assets/img/membranacement.png"/>
        </div>
      </div>
      <div class="col-lg-6 col-12 contact">
        <form>
          <p class="pt-15">Envianos tu consulta</p>
          <hr>
          <label>Nombre</label>
          <input class="form-control" type="text" placeholder="Escriba su nombre"/>
          <label class="pt-3">Email</label>
          <input class="form-control" type="email" placeholder="Escriba su email"/>
          <div class="row pt-3">
            <div class="col-6">
              <label>Telefono</label>
              <input class="form-control" type="email" placeholder="Escriba su telefono"/>          
            </div>
            <div class="col-6">
                <label>Barrio / Localidad</label>
                <input class="form-control" type="email" placeholder="Escriba su localidad"/>          
              </div>
          </div>
          <label class="pt-3">Mensaje</label>
          <textarea class="form-control" placeholder="Su mensaje..."></textarea>
          <button class="btn mt-3 btn-md btn-danger float-right">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>